<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAccessibilityUsageDescription</key>
	<string>Accessiblity needed to automate copying codes to clipboard</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>2FHey needs to access Apple Mail to automatically detect and copy verification codes from your emails.</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
